Source: rex-io-bmd
Section: admin
Priority: optional
Maintainer: Jan Gehring <jan.gehring@gmail.com>
Build-Depends: debhelper (>= 7), rex
Build-Depends-Indep: perl
Standards-Version: 3.9.2
Homepage: http://search.cpan.org/dist/Rex-IO/

Package: rex-io-bmd
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, rex (>= 0.23.99.24)
Description: Deployment CLI
